<form action="/signup" method="post">
  <div>
    <label>Логин</label>
    <input
      type="text"
      name="username"
      placeholder="Логин"
      required
      autofocus
    /><br />
  </div>
  <div>
    <label>Пароль</label>
    <input
      type="password"
      name="password"
      placeholder="Пароль"
      required
    /><br />
  </div>
  <div>
    <label>Почта</label>
    <input type="email" name="email" placeholder="Почта" /><br />
  </div>
  <div>
    <label>Имя</label>
    <input type="text" name="firstName" placeholder="Имя" /><br />
  </div>
  <div>
    <label>Фамилия</label>
    <input type="text" name="lastName" placeholder="Фамилия" /><br />
  </div>

  <div>
    <input type="submit" value="Регистрация" />
  </div>
</form>
